window {
margin: 0px;
border: none;
border-radius: 5px;
background-color: rgba(16, 16, 16, 0.75);
}

#input {
margin: 5px;
border: none;
color: #E6894F;
background-color:#3b4252;
}

#input:focus{
  border-color: black;
  outline:none;
  box-shadow: none;
}

#inner-box {
margin: 5px;
border: none;
}

#outer-box {
margin: 5px;
border: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color:#88B381;
}

#entry:selected {
background-color: #665C55;
color:#E96962;
border-radius: 5px;
}
