window {
margin: 0px;
border: 1px solid #cba6f7;
background-color: rgba(16, 16, 16, 0.75);
}

#input {
margin: 5px;
border: none;
color: #cba6f7;
background-color:#3b4252;\
}

#inner-box {
margin: 5px;
border: none;
}

#outer-box {
margin: 5px;
border: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #cba6f7;
}

#entry:selected {
background-color: rgba(16,16,16,0.90);
}
