/* Base colors */
@define-color background #222222;
@define-color foreground #ffffff;

@define-color hover-bg alpha(@background, 0.7);
@define-color warning #e5c07b;
@define-color critical #e06c75;
@define-color inactive #6a7a71;

* {
    color: @foreground;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12px;
    font-weight:bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

.modules-right, .modules-left{
  margin: 0px 20px;
}

/* ---  Workspaces --- */
#workspaces{
    background-color: @background;
    color: @foreground;
    margin: 5px 0;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    padding: 0px 5px;
}

#workspaces button {
    background: transparent;
    padding: 0px 2px;
    border-radius: 16px;
}

#workspaces button:hover {
    background-color: @hover-bg;
}

#workspaces button.active {
    color: @foreground;
}

/* Window */
#window {
    margin: 5px 0;
    background: @background;
    padding: 0px 10px;
    border-radius: 16px;
    margin-left: 0px;
    color: @foreground;
}

window#waybar.empty #window {
    background: transparent;
    padding: 0;
    margin-left: 0;
}


#clock,
#custom-update,
#mpris{
    background-color: @background;
    color: @foreground;
    border-radius: 16px;
    margin: 5px 0;
    padding: 0px 10px;
}

#clock:hover,
#custom-update:hover,
#mpris:hover{
    background-color: @hover-bg;
    color: @foreground;
}

#volume{
  background-color: @background;
  color: @foreground;
  margin: 5px 0;
  padding: 0 10px;
 }

 #pulseaudio,
 #pulseaudio-slider{
   padding:0 10px;
 }

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 2px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: white;
}

#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#power-profiles-daemon,
#custom-power,
#tray,
#custom-expand-icon{
  background-color: @background;
  color: @foreground;
  margin: 5px 0px;
  padding: 0 10px;
}

#custom-power{
  border-top-right-radius:16px;
  border-bottom-right-radius:16px;
}

#custom-expand-icon{
  border-top-left-radius:16px;
  border-bottom-left-radius:16px;
}








