/*
@define-color base-bg @background;
@define-color accent @foreground;
*/


/* Base colors */
@define-color background #222222;
@define-color foreground #e06c75

@define-color hover-bg alpha(@background, 0.7);
@define-color warning #e5c07b;
@define-color critical #e06c75;
@define-color inactive #6a7a71;

* {
    color: @foreground;
    border: none;
    border-radius: 0;
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    margin-top: 10px;
}

.modules-left, .modules-right {
    margin-left: 5px;
    margin-right: 5px;
}

#workspaces button {
  all: initial;
  padding: 0 0px;
  margin: 0 0px;
  min-width: 0px;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* --- General Module Styles --- */
#window,
#custom-media,
#mpris,
#mpd,
#cpu,
#memory,
#temperature,
#custom-update,
#tray,
#bluetooth,
#network,
#pulseaudio,
#battery,
#clock,
#power-profiles-daemon,
#pulseaudio-slider,
#backlight,
#backlight-slider,
#custom-power{
    background-color: @background;
    color: @foreground;
    padding: 0 10px;
    margin: 5px 0px;
    transition: background-color 0.3s ease;

}

#clock:hover,
#window:hover,
#custom-media:hover,
#mpd:hover,
#mpris:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#custom-update:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-screenrecording-indicator:hover,
#pulseaudio-slider:hover,
#custom-power:hover {
    background-color: @hover-bg;
}

/* --- Specific Module Styles & Overrides --- */

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: red;
}


/* Pulasaudio slider */

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 2px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: white;
}


#window {
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 16px;
    margin-left: 5px;
}

#mpris {
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 16px;
    margin-right: 5px;
    min-width: 150px;         /* Reserve space */
}


window#waybar.empty #window {
    background: transparent;
    padding: 0;
    margin-left: 0;
}

mpris#waybar.empty #mpris {
  background: transparent;
  padding: 0;
  margin-right: 0;
}

mpd#waybar.empty #mpd {
  background: transparent;
  padding: 0;
  margin-right: 0;
}

#custom-update {
    border-radius: 16px;
    margin-left: 0px;
    padding-right: 12px;
}

#tray-expander {
    background: @background;
    margin: 5px 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 10px;
}

#custom-power {
    margin: 5px 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 5px;
}

#tray {
    padding-left: 10px;
}

#clock {
    border-radius: 16px;
    padding-right: 10px;
}

#workspaces {
    background-color: @background;
    color: @foreground;
    margin: 5px 0;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    padding: 0 3px;
}

#workspaces button {
    background: transparent;
    padding: 0 6px;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: alpha(#B9F6CA, 0.1);
}

/* --- Module States --- */
#network.disconnected,
#bluetooth.disabled,
#pulseaudio.muted {
    color: @critical;
}

#battery.warning:not(.charging) {
    color: @warning;
}

#battery.charging,
#battery.plugged {
    color: @accent;
}

@keyframes blink {
    to {
        background-color: @critical;
        color: @base-bg;
    }
}

#battery.critical:not(.charging) {
    background-color: @critical;
    color: @base-bg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* --- Tooltip --- */
tooltip {
    background-color: @background;
    border-radius: 16px;
    padding: 8px 12px;
    opacity: 0.9;
}

tooltip label {
    color: @foreground;
}
